model_config_list {
	config {
		name: "my_elastic_net_0",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_0/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_1",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_1/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_2",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_2/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_3",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_3/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_4",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_4/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_5",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_5/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_6",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_6/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_7",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_7/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_8",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_8/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_9",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_9/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_10",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_10/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_11",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_11/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_12",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_12/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_13",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_13/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_14",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_14/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_15",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_15/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_16",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_16/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_17",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_17/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_18",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_18/"
		model_platform: "tensorflow"},
	config {
		name: "my_elastic_net_19",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models/my_elastic_net_19/"
		model_platform: "tensorflow"}
}
