model_config_list {
	config {
		name: "arima_0",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_0/"
		model_platform: "tensorflow"},
	config {
		name: "arima_1",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_1/"
		model_platform: "tensorflow"},
	config {
		name: "arima_2",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_2/"
		model_platform: "tensorflow"},
	config {
		name: "arima_3",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_3/"
		model_platform: "tensorflow"},
	config {
		name: "arima_4",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_4/"
		model_platform: "tensorflow"},
	config {
		name: "arima_5",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_5/"
		model_platform: "tensorflow"},
	config {
		name: "arima_6",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_6/"
		model_platform: "tensorflow"},
	config {
		name: "arima_7",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_7/"
		model_platform: "tensorflow"},
	config {
		name: "arima_8",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_8/"
		model_platform: "tensorflow"},
	config {
		name: "arima_9",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_9/"
		model_platform: "tensorflow"},
	config {
		name: "arima_10",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_10/"
		model_platform: "tensorflow"},
	config {
		name: "arima_11",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_11/"
		model_platform: "tensorflow"},
	config {
		name: "arima_12",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_12/"
		model_platform: "tensorflow"},
	config {
		name: "arima_13",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_13/"
		model_platform: "tensorflow"},
	config {
		name: "arima_14",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_14/"
		model_platform: "tensorflow"},
	config {
		name: "arima_15",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_15/"
		model_platform: "tensorflow"},
	config {
		name: "arima_16",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_16/"
		model_platform: "tensorflow"},
	config {
		name: "arima_17",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_17/"
		model_platform: "tensorflow"},
	config {
		name: "arima_18",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_18/"
		model_platform: "tensorflow"},
	config {
		name: "arima_19",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_19/"
		model_platform: "tensorflow"},
	config {
		name: "arima_20",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_20/"
		model_platform: "tensorflow"},
	config {
		name: "arima_21",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_21/"
		model_platform: "tensorflow"},
	config {
		name: "arima_22",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_22/"
		model_platform: "tensorflow"},
	config {
		name: "arima_23",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_23/"
		model_platform: "tensorflow"},
	config {
		name: "arima_24",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_24/"
		model_platform: "tensorflow"},
	config {
		name: "arima_25",
		base_path: "/home/daniel/PycharmProjects/savime-notebooks/saved_models_arima/arima_25/"
		model_platform: "tensorflow"}
}
